.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-grid img {
    width: 250px;
    max-height: auto;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}