@font-face {
    font-family: Iosevka;
    src: url('../assets/fonts/Iosevka.ttf');
}

* {
    font-family: Iosevka;
    color: #ddd;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #181818;
    display: flex;
    justify-content: center;
}

#container {
    position: absolute;
    width: 50%;
    height: 100%;
}

#header {
    display: flex;
    align-items: center;
}

#header *:first-child:nth-last-child(2) {
    margin: 0 20px;
}

#back {
    font-size: 48px;
    padding: 0 24px;
}

#back:hover {
    font-size: 64px;
    background-color: #2d2d2d;
    border-radius: 25px;
}

body:has(.title:hover) #back {
    font-size: 64px;
    transition: .5s;
}