body {
    margin: 0 auto;
}

.content {
    box-sizing: border-box;
    padding: 15px;
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.img {
    width: .2fr;
}