@font-face {
    font-family: Iosevka;
    src: url('/assets/Iosevka.ttf');
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Iosevka;
    color: #dddddd;
    user-select: none;
}

body {
    background-color: #181818ff;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    width: 100%; height: 100%; position: absolute;
} 

@media (width >= 1280px) {
    #card {
        width: 600px;
        height: 800px;
        backdrop-filter: blur(5px);
        border-radius: 100px;
    }   
    
    #pfp {
        height: 800px;
    }

    #username {
        font-size: 48px;
    }

    #avatar {
        width: 256px; height: 256px;
    }

    #cherw, #cherw:hover {
        width: 128px;
        width: 128px;
    }

    #username {
        margin: 20px 0;
    }
}

@media (width <= 450px) {
    #card {
        width: 300px;
        height: 400px;
        backdrop-filter: blur(2px);
        border-radius: 75px;
    }
    
    #pfp {
        height: 400px;
    }

    #username {
        font-size: 36px;
    }

    #avatar {
        width: 128px; height: 128px;
    }

    #cherw, #cherw:hover {
        width: 64px;
        width: 64px;
    }

    #username {
        margin: 10px 0;
    }
}

@media (width > 450px) and (orientation: landscape) and (width < 1280px){
    #card {
        width: 300px;
        height: 300px;
        backdrop-filter: blur(2px);
        border-radius: 75px;
    }
    
    #pfp {
        height: 300px;
    }

    #username {
        font-size: 24px;
    }

    #avatar {
        width: 128px; height: 128px;
    }

    #cherw, #cherw:hover {
        width: 64px;
        width: 64px;
    }

    #username {
        margin: 10px 0;
    }
}

@media (width > 450px) and (orientation: portrait) and (width < 1280px){
    #card {
        width: 450px;
        height: 450px;
        backdrop-filter: blur(2px);
        border-radius: 75px;
    }
    
    #pfp {
        height: 450px;
    }

    #username {
        font-size: 32px;
    }

    #avatar {
        width: 128px; height: 128px;
    }

    #cherw, #cherw:hover {
        width: 64px;
        width: 64px;
    }

    #username {
        margin: 10px 0;
    }
}

#card {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 3px #4d4d4d7f solid;
    background-color: #2c2c2c7f;
    box-shadow: 0px 0px 100px 27px #0000009d;
    transition: .2s;
}

#pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .2s;
}

#avatar {
    border-radius: 100%;
}

#avatar, #username {
    border: 0px #ddd solid;
    transition: .1s;
}

#avatar:hover {
    border: 3px #dddddd solid;
}

#username:hover {
    border-bottom: 3px #dddddd solid;
}

#cherw {
    content: url("/assets/cherw.png");
    user-select: none;
    position: relative;
}

#cherw:hover {
    content: url("/assets/cherw.gif");
}

#cherw-container {
    display: none;
    transition: .15s;
    justify-content: center;
    align-items: center;
}