.title {
    position: relative;
    font-size: 48px;
    border-bottom: 5px solid #72f43c;
    transition: .2s;
}

ul {
    list-style-type: none;
}

li {
    position: relative;
    margin: 30px -32px;
}

a {
    font-size: 32px;
    transition: .2s;
    text-decoration: none;
}

.ref {
    border-bottom: 5px solid #73c936;
    transition: .2s;
}

li:hover a {
    box-sizing: content;
    padding: 10px;
    margin: 500px 0;
    font-size: 48px;
    background-color: #2d2d2d;
    border: none;
    border-radius: 25px;
}
