@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,400;0,800;0,1000;1,400;1,800&display=swap');
:root{
    --text: #e2e2e2;
    --text2: #fffb7d;
    --background: #17090e;
    --primary: #cc285a;
    --secondary: #260811;
    --secondary-hover: #581327;
    --divider: #757575;
    --accent: #d1295b;
    
    --scrollbar: #2b1018;
    --scrollbar-thumb: #911d40;
    --scrollbar-thumb-hover: #a7244b;
}

::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-track { background: var(--scrollbar); }
::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb); }
::-webkit-scrollbar-thumb:hover { background: var(--scrollbar-thumb-hover); }

* {
    color: var(--text);
    font-weight: 400;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    outline: none;
}

h1 { font-size: 48px;font-weight: 1000;flex-wrap: wrap;}
h2 { font-size: 44px;font-weight: 1000;flex-wrap: wrap;}
h3 { font-size: 40px;font-weight: 1000;flex-wrap: wrap;}
h4 { font-size: 36px;font-weight: 1000;flex-wrap: wrap;}
h5 { font-size: 32px;font-weight: 1000;flex-wrap: wrap;}
h6 { font-size: 28px;font-weight: 1000;flex-wrap: wrap;}

body { background-color: var(--background); margin: 0 auto;}

.header {
    position: fixed;
    top: 0; left: 0;
    display: flex;
    background-color: var(--secondary);
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header * {
    user-select: none;
}

.h-link {
    text-decoration: none;
}
.h-span {
    font-size: 36px;
    padding: 5px;
    transition: .2s;
}
.h-span:hover {
    font-size: 48px;
    background-color: var(--secondary-hover);
}


.divider {
    font-size: 36px;
    color: var(--divider);
    padding: 5px;
}


.content {
    display: flex;
    font-size: 32px;
    margin-top: 6%;
    margin-bottom: 3%;
    box-sizing: border-box;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    flex-direction: row; 
    text-align: justify;
}

table {
    text-align:left;
    padding: 15px;
    margin-top: 50px;
    border: 3px solid;
    border-radius: 25px 0 25px 25px;
}
td {
    vertical-align: top;
    /* border:1px solid; */
    padding: 10px 0 10px 15px;
}

.table-header {
    color: var(--text2);
    width: 40%;
}

.content img {
    margin: auto;
    padding: 15px;
    height: 100%;
    width: 100%;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0; left: 0;
    background-color: var(--secondary);
    width: 100%;
    height: 5%;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: var(--secondary-hover);
    font-size: 24px;
    padding: 0 10px 0 10px;
}

.footer * {
    user-select: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.img-footer {
    text-align: center;
    font-size: 24px;
    color: var(--divider);
}

.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

hr {
    border: none;
    background-color: var(--accent);
    height: 5px;
    margin-top: 0px;
    width: 100%;
}

.content-text {
    width: 65%;
    box-sizing: border-box;
    padding: 0 30px 0 40px;
}

.content-table {
    width: 35%;
    box-sizing: border-box;
    margin: 0 30px 0 0;
}
.table-img{
    width: 100%;
    text-align: center;
}
pre {
    text-align: left;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    background-color: var(--secondary);
    border-radius: 25px 25px 25px 25px;
}

pre .commentary {
    color: var(--divider);
}